<div id="alertPanel" style="text-align: center"></div>
<div class="container-fluid">
    <div class="col-md-2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let editorial of editorials">
                    <td>
                        <dd class="figure-caption" routerLink="/editorials/{{editorial.id}}">{{editorial.name}}</dd>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>