<div class="panel-body">
    <div class="border margin">
        <h1>{{author.name}}</h1> 
        <div class="row">
            <div class="col-md-3">
                <div class="thumb">
                    <img class="img-fluid" src='{{author.image}}' alt="{{author.image}}" />   
                </div>
            </div>
            <div class="col-md-3">
                <dl>     
                    <hr>
                    <dt>Birth Date</dt>
                    <dd>{{author.birthdate| date:'yyyy-MM-dd'}}</dd>
                    <hr>
                    <dt>Bio</dt>
                    <dd>{{author.description}}</dd>
                </dl>
            </div>
        </div>
    </div>
    <h4>Books by this author : </h4>
    <app-book-sidebar [books]="author_books"></app-book-sidebar>
</div>